
  <div class="container">
    <div class="row">
        <div class="col-xs-6">
          <div style="padding-top:1%">
            <div class="container" >
              <div class="row">
                <aside class="col-md-4">
                <div class="header">
                    
                          <div class="row">
                              <img src="assets/pr.jpg" alt=""class=" img-circle imgp " >
                    
                              </div>
                              <div class="  name text-center">
                                    <h1>Budde Savitha </h1>
                              </div>
                              <div class="  role text-center">
                                  <h2>Developer</h2>
                            </div>
                            <hr>
                            <ul >
                                <li>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <i class="fa fa-lg fa-map-marker"></i>
                                          Nizamabad,Hyderabad,Telangana
                                  </li> 
                                   <li>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  <i class="fa fa-envelope"></i>
                                    savitha.budde24@gmail.com
                                </li>
                                <li>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <i class="fa fa-mobile"></i>
                                        8466832299
                                    </li>
                                    <hr>
                                    <div class="text-center">
                                      <a href="https://www.linkedin.com/in/savitha-budde-a658209b/" target="_blank">
                                        <i class="fa fa-linkedin-square" style="font-size:36px"></i>
                                      
                                      </a>
                                      <!--
                                      <a href="">
                                          <i class="fa fa-google-plus-square" style="font-size:36px;color:red"></i>
                    
                                      </a>
                                      -->
                                      <a href="https://github.com/savitha24/Resume" target="_blank">
                                          <i class="fa fa-github fa-2x" style="font-size:36px"></i>
                    
                                      </a>
                                    </div>
                    
                                    
                                   
                        
                               
                            </ul>
                            <hr>
                           <div>
                            Built using Agular 4 components. Source code can be found in 
                            <a href="https://github.com/savitha24/Resume" target="_blank"> Github repo</a>
                           </div>
                          </div>
                        </aside>
      
      
      </div>
            </div>
        </div>
        </div>
        <div class="col-xs-6 bodycont">
            <section>
                <h2>
                        <i class="fa fa-briefcase"></i>
                        Work Experience

                </h2>
                <hr>
                <h4>
                    System's Engineer,TCS
                </h4>
                <p style="color: rgb(119, 123, 121);"><span>
                    Aug,2016 - Present
                </span>
                
                </p>
                <p style="font-weight: 600; font-size: 12px;">DSC Transformation using  Java</p>
                <p>
                    Developed Transformation System in Java . In this system we will get source, destination and mapping file as a input 
                    With the help of mapping file we will transform  the destination xml with source xml  values using Java.  
                </p>
                <p style="font-weight: 600; font-size: 12px;">Application in Salesforce</p>
                <p>
                    Developed a Replication of the order placement flow in Salesforce.com using Apex,SOQL,Triggers.
                     

                </p>
                <p style="font-weight: 600; font-size: 12px;">Angular Application</p>
                <p>
                Working as an Angular Developer and Developed dynamic components.With Json data have built header part 
                using reusable components provided .I have built a Smart Email Feauture in Angular page.  
                </p>

            </section>
         <br>
         <section>
                <h2 class="text-uppercase"><i class="fa fa-code-fork">Github Repos</i></h2>
                <hr>
                <div class="row">
                    <div class="col-md-9">
                <div>

                        <div class="col-md-12 reponame text-primary"><a href="https://github.com/savitha24/Resume" target="_blank">Resume</a></div>
                        <div class="col-md-12 repodescription"><p>Creating resume using Angular with the help of  node.</p></div>
                
                
                        <div class="col-md-12"><span class="pull-right tags label label-primary text-uppercase">Angular</span>
                            
                            
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                
                    </div>
                        
                </div>
                </div>



         </section>
 
         <section class="skills">
             <h2 class="text-uppercase">
             <i class="fa fa-code">Skills</i>
            </h2>
            
            <hr>
            <ul class="skills-list list-inline">
                <li>
                    <span class="label label-info">Java</span>
                
                </li>
                <li>
                    <span class="label label-info">Javascript</span>
                </li>
                <li>
                    <span class="label label-info">Webpack</span>
                </li>
            
                <li>
                    <span class="label label-info">Npm</span>
                </li>
                <li>
                    <span class="label label-info">Angular 2/4</span>
                </li>
                <li>
                    <span class="label label-info">Salesforce</span>
                </li>
                <li>
                    <span class="label label-info">Android</span>
                </li>
                
                <li>
                    <span class="label label-info">HTML &amp; CSS</span>
                </li>
                <li>
                    <span class="label label-info">Less</span>
                </li>
               
                <li>
                    <span class="label label-info">MySQL</span>
                </li>
                <li>
                    <span class="label label-info">Oracle</span>
                </li>
               
                <li>
                    <span class="label label-info">Bootstrap</span>
                </li>
                <li>
                    
                    <span class="label label-info">Apex</span>
                </li>
               
                <li>
                    <span class="label label-info">Eclipse</span>
                </li>
                <li>
                    <span class="label label-info">visual studio code</span>
                </li>
               
            </ul>
        </section>
        <section>
            <h2 class="text-uppercase">
                
                
                <i class="fa fa-graduation-cap">Education</i>
            </h2><hr>
            <p>
                <strong>B.Tech CSE</strong>
             at <strong>Vardaman College of Engineering</strong></p><p><strong>CGPA:8.59</strong></p><p>Studied:2012-2016</p></section>
        </div>
    </div>
</div>